<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>spider rule manager</title>
    <link rel="stylesheet" href="https://unpkg.com/element-plus@1.0.2-beta.55/lib/theme-chalk/index.css">
    <style>
        .el-header, .el-footer {
            background-color: slategrey;
            color: white;
            text-align: left;
            line-height: 60px;
        }

        .el-main {
            background-color: white;
            color: #333;
            text-align: center;
        }

        .el-tag + .el-tag {
            margin-left: 10px;
        }
        .button-new-tag {
            margin-left: 10px;
            height: 32px;
            line-height: 30px;
            padding-top: 0;
            padding-bottom: 0;
        }
        .input-new-tag {
            width: 90px;
            margin-left: 10px;
            vertical-align: bottom;
        }
        .push-success-msg {
            width: 480px;
        }

    </style>
</head>
<body>
<div id="app">

    <el-container>
        <el-header>
            Spider Rule Manager
        </el-header>
        <el-main>

            <el-dialog title="Update" v-model="update_dialog">
                <el-form>
                    <el-form-item label="method">
                        <el-select
                                v-model="method"
                                placeholder="Please select"
                                style="width: 300px;"
                        >
                            <el-option
                                    v-for="item in method_list"
                                    :key="item"
                                    :label="item"
                                    :value="item">
                            </el-option>

                        </el-select>
                    </el-form-item>
                    <el-form-item label="url">
                        <el-input v-model="url" placeholder="url"></el-input>
                    </el-form-item>
                    <el-form-item label="name">
                        <el-input v-model="rule_name" placeholder="rule name"></el-input>
                    </el-form-item>
                    <el-form-item label="exp">
                        <el-input v-model="exp" placeholder="exp"></el-input>
                    </el-form-item>
                    <el-form-item label="extract_method">
                        <el-input v-model="extract_method" placeholder="extract_method"></el-input>
                    </el-form-item>
                    <el-form-item label="extract_type">
                        <el-input v-model="extract_type" placeholder="extract_type"></el-input>
                    </el-form-item>
                    <el-form-item label="content_type">
                        <el-input v-model="content_type" placeholder="content_type"></el-input>
                    </el-form-item>
                    <el-form-item label="crawl_name">
                        <el-input v-model="crawl_name" placeholder="crawl_name"></el-input>
                    </el-form-item>
                    <el-form-item label="current_callback">
                        <el-input v-model="current_callback" placeholder="current_callback"></el-input>
                    </el-form-item>
                    <el-form-item label="output">
                        <el-input v-model="output" placeholder="True"></el-input>
                    </el-form-item>
                </el-form>
                <el-form :inline="true">
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="update_seed_dialog = false">Cancel</el-button>
                    <el-button type="primary" @click="do_update_seed">Submit</el-button>

                </div>
            </el-dialog>
            <el-table :data="tableData" border style="width: 100%">
                <el-table-column prop="_id" label="id" width="180"></el-table-column>
                <el-table-column prop="rules.url" label="url" width="150"></el-table-column>
                <el-table-column prop="name" label="Name" width="150"></el-table-column>
                <el-table-column prop="rules.method" label="method" width="110"></el-table-column>
                <el-table-column prop="parse.crawl.exp" label="exp" width="380"></el-table-column>
                <el-table-column prop="parse.crawl.extract_method" label="extract_method" width="120"></el-table-column>
                <el-table-column prop="parse.crawl.extract" label="extract_type" width="120"></el-table-column>
                <el-table-column prop="parse.crawl.type" label="content_type" width="120"></el-table-column>
                <el-table-column prop="parse.crawl.name" label="crawl_name" width="110"></el-table-column>
                <el-table-column prop="parse.crawl.current_callback" label="current_callback" width="150"></el-table-column>
                <el-table-column prop="parse.crawl.output" label="output" width="100"></el-table-column>

                <!--                <el-table-column v-if="parse.crawl" v-for="item in parse.crawl" label="crawl" :key="item" :property="item">-->
                <!--                    <el-table-column prop="item.exp" label="exp" width="120"></el-table-column>-->
                <!--                </el-table-column>-->

                <el-table-column label="Action">
                    <template v-slot="scope">
                        <el-button
                                type="warning"
                                size="small"
                                round
                                @click="show_update_dialog(scope.$index, scope.row)"
                        >
                            Update
                        </el-button>
                        <el-button
                                type="danger"
                                size="small"
                                round
                                @click="delete_info(scope.$index, scope.row)"
                        >
                            Delete
                        </el-button>
                        <el-button
                                type="primary"
                                size="small"
                                round
                                @click="check_info(scope.$index, scope.row)"
                        >
                            Check
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-main>
    </el-container>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="https://unpkg.com/element-plus@1.0.2-beta.55/lib/index.full.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="backend.js"></script>
<script>


</script>
</body>
</html>